<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#app-nav">
        <span class="sr-only">Toggle</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">いまとも(仮)</a>

      <img ng-show="imatomo.ImatomoValue.profile" ng-src="{{imatomo.ImatomoValue.profile.picture}}" width="30px" style="margin-top:10px;"/>
      <button type="button" class="{{imatomo.callbell == '1' ? 'btn btn-success' : 'btn btn-warning'}}" ng-model="imatomo.callbell" ng-show="imatomo.ImatomoValue.profile" style="margin-top:10px;"
        uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="imatomo.setCallbell()">
        <i class="{{imatomo.callbell == '1' ? 'glyphicon glyphicon-volume-up' : 'glyphicon glyphicon-volume-off'}}"></i>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="app-nav">
      <ul class="nav navbar-nav" ng-show="imatomo.ImatomoValue.profile">
        <li><a ng-link="shitailist">〇〇したい人たち</a></li>
        <li><a ng-link="shitai" >〇〇したい</a></li>
        <li><a ng-link="group" >グループ</a></li>
        <!--<li><a ng-link="profile" >プロファイル</a></li>-->
      </ul>
      <!--
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/okawahiroto/imatomo">github</a></li>
      </ul>
    -->
    </div>

  </div>
</div>

<script>
  (function(){
    $('.navbar-nav li a').click(function(){
      $('.navbar-collapse').collapse('hide');
    });
  })();
</script>
