.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 70px;
  padding-bottom: 20px;
  font-family: "メイリオ", Meiryo, Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 830px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
	table.shitaies tr {
    /*
    border-right:medium solid #babaee;
		border-bottom:medium solid #babaee;
    */
    border-top:medium solid #ffffff;
    border-bottom:medium solid #ffffff;
    border-width: 5px;
	}
	table.shitaies tr td.inline {
		display:list-item;
		text-align:left;
		list-style:none;
		border-style:none;
	}
  table.shitaies tr td button.right {
		float : right;
	}
}
.balloon {
  position: relative;
  padding : 5px 10px 5px 10px;
  color : #303030;
  background-color: #aaffaa;
  border-radius : 10px;
}
.balloon .triangle {
  position: absolute;
  /*
  bottom: -10px;
  left: 50%;
  */
  bottom: 20%;
  left: -13px;
  margin-top: -20px;
  width: 0;
  height: 0;
  border-right: 15px solid #aaffaa;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.shitaies .badge {
	float : right;
}
