<ul class="nav nav-tabs">
  <li class="active">
    <a data-toggle="tab"  ng-click="shitailist.useridFilter = undefined">全部</a>
  </li>
  <li>
    <a data-toggle="tab" ng-click="shitailist.useridFilter = {userid : shitailist.profile.userid}">自分</a>
  </li>
  <li>
    <a data-toggle="tab" ng-click="shitailist.useridFilter = undefined">賛同している</a>
  </li>
</ul>

<table class="table table-striped shitaies">
    <tr ng-repeat="data in shitailist.items | filter: shitailist.useridFilter | orderBy: 'time'" ng-if="data.time >= shitailist.filterDate" ng-show="shitailist.searchMember(data)">
      <div class="time">
        <td>{{data.time | date : 'M/dd (EEE) HH:mm'}}</td>
        <!--<td>{{data.createtimestamp | date : 'M/dd HH:mm'}}</td>-->
      </div>
      <td userid={{data.userid}}></td>
      <!-- <td>{{data.name}}</td> -->
      <td>
        <a ng-click="shitailist.moveDetail(data.$id)">
          {{data.title}}
        </a>
        <span class="badge">{{data.approvals ? data.approvals.length : 0 }}</span>
      </td>
      <td>
        <button type="button" class="btn btn-primary" ng-click="shitailist.approval(data.$id)" ng-show="shitailist.isApproval(data)">
          賛同する
        </button>
        <button type="button" class="btn btn-danger" ng-click="shitailist.cancel(data.$id)" ng-show="shitailist.isCancel(data)">
          キャンセル
        </button>
        <button type="button" class="btn btn-primary" ng-click="shitailist.items.$remove(data)" ng-show="shitailist.profile.userid == data.userid">
          削除
        </button>
      </td>
    </tr>
</table>
