<ul class="nav nav-tabs">
  <li class="active">
    <a data-toggle="tab" ng-click="group.criteria={creatorFilter : undefined, memberFilted : false}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
  </li>
  <li>
    <a data-toggle="tab" ng-click="group.criteria={creatorFilter : {createuserid : group.ImatomoValue.profile.id}, memberFilted : false}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
  </li>
  <li>
    <a data-toggle="tab" ng-click="group.criteria={creatorFilter : undefined, memberFilted : true}"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
  </li>
</ul>
<table class="table table-striped">
    <tr ng-repeat="data in group.items | filter: group.criteria.creatorFilter" ng-if="group.filtedMember(data)">
      <td>
        <span class="badge">{{data.members ? data.members.length : 0 }}</span>
        {{data.groupname}}
      </td>
      <td>
        created by
        <span userpicture={{data.createuserid}} userid="{{data.createuserid}}" />
      </td>
      <td>
        <button type="button" class="btn btn-info" ng-click="group.moveDetail(data.$id)" style="margin-right:20px;" uib-tooltip="詳細">
          <i class="glyphicon glyphicon-info-sign"></i>
        </button>
      </td>
    </tr>
</table>

<alert type="{{group.status}}" ng-show="!!group.message" close="group.closeAlert()">{{group.message}}</alert>
<form class="form-horizontal" name="groupregister" ng-submit="group.register()" novalidate>
  <div class="form-group">
    <label for="groupname" class="col-sm-2 control-label">グループ名</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="groupname" placeholder="○○○部" ng-model="group.groupname" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <input class="btn btn-primary" type="submit" value="作成する" ng-disabled="!groupregister.$valid">
    </div>
  </div>
</form>
