<ul class="nav nav-tabs">
  <li class="active">
    <a data-toggle="tab"  ng-click="shitailist.useridFilter = undefined">全部</a>
  </li>
  <li>
    <a data-toggle="tab" ng-click="shitailist.useridFilter = {userid : shitailist.ImatomoValue.profile.id}">自分</a>
  </li>
  <li>
    <a data-toggle="tab" ng-click="shitailist.useridFilter = shitailist.searchMyApprovals()">賛同している</a>
  </li>
</ul>

<table class="table table-striped shitaies">
    <tr ng-repeat="data in shitailist.items | filter: shitailist.useridFilter | orderBy: 'time'" ng-if="data.time >= shitailist.filterDate" ng-show="shitailist.searchMember(data)">
      <td userpicture={{data.userid}}></td>
      <td class="inline" userid={{data.userid}}></td>
      <td class="inline">{{data.time | date : 'M/dd (EEE) HH:mm'}}</td>
      <!--<td>{{data.place}}</td>-->
      <td class="inline">
        <span class="badge">{{data.approvals ? data.approvals.length : 0 }}</span>
        {{data.title}}
      </td>
      <td nowrap class="inline">
        <button type="button" class="btn btn-info" ng-click="shitailist.moveDetail(data.$id)" style="margin-right:20px;" uib-tooltip="詳細へ">
          <i class="glyphicon glyphicon-info-sign"></i>
        </button>
        <button type="button" class="btn btn-primary right" ng-click="shitailist.approval(data.$id)" ng-show="shitailist.isApproval(data)" uib-tooltip="賛同する">
          <i class="glyphicon glyphicon-thumbs-up"></i>
        </button>
        <button type="button" class="btn btn-warning right" ng-click="shitailist.cancel(data.$id)" ng-show="shitailist.isCancel(data)" uib-tooltip="賛同を取り止める">
          <i class="glyphicon glyphicon-minus"></i>
        </button>
        <button type="button" class="btn btn-danger right" ng-click="shitailist.items.$remove(data)" ng-show="shitailist.ImatomoValue.profile.id == data.userid" uib-tooltip="削除する">
          <i class="glyphicon glyphicon-trash"></i>
        </button>
      </td>
    </tr>
</table>
