<ul class="nav nav-tabs">
  <li class="active">
    <a data-toggle="tab"  ng-click="shitailist.flag = 0;">全部</a>
  </li>
  <li>
    <a data-toggle="tab" ng-click="shitailist.flag = 1">自分</a>
  </li>
  <li>
    <a data-toggle="tab" ng-click="shitailist.flag = 2">賛同している</a>
  </li>
</ul>

<table class="table table-striped shitaies">
    <tr ng-repeat="data in shitailist.items | filter: shitailist.useridFilter | orderBy: 'time'" ng-if="data.time >= shitailist.filterDate && shitailist.searchMember(data) && shitailist.searchMyApprovals(data)">
      <td width="50" userpicture={{data.userid}}></td>
      <td class="inline">
        <div class="balloon">
          {{data.title}}
          <span class="badge">{{data.approvals ? data.approvals.length : 0 }}</span>
          <div class="triangle"></div>
        </div>
      </td>
      <td class="inline" userid={{data.userid}}></td>
      <td class="inline">{{data.time | date : 'M/dd (EEE) HH:mm'}}</td>
      <!--<td class="inline">{{data.place}}</td>-->
      <td nowrap class="inline">
        <button type="button" class="btn btn-info" ng-click="shitailist.moveDetail(data.$id)" style="margin-right:20px;" uib-tooltip="詳細へ">
          <i class="glyphicon glyphicon-info-sign"></i>
        </button>
        <button type="button" class="btn btn-primary right" ng-click="shitailist.approval(data.$id)" ng-show="shitailist.isApproval(data)" uib-tooltip="賛同する">
          <i class="glyphicon glyphicon-thumbs-up"></i>
        </button>
        <button type="button" class="btn btn-warning right" ng-click="shitailist.cancel(data.$id)" ng-show="shitailist.isCancel(data)" uib-tooltip="賛同を取り止める">
          <i class="glyphicon glyphicon-minus"></i>
        </button>
        <button type="button" class="btn btn-danger right" ng-click="shitailist.remove(data)" ng-show="shitailist.ImatomoValue.profile.id == data.userid" uib-tooltip="削除する">
          <i class="glyphicon glyphicon-trash"></i>
        </button>
      </td>
    </tr>
</table>
