<table class="table table-striped">
    <tr ng-repeat="data in shitailist.items">
      <td>{{data.username}}</td>
      <td>{{data.name}}</td>
      <td>{{data.time}}</td>
      <td>
        <span class="badge">{{data.approvals ? data.approvals.length : 0 }}</span>
        {{data.title}}
      </td>
      <td>{{data.createtimestamp | date : 'M/dd HH:mm'}}</td>
      <td>
        <button type="button" class="btn btn-info" ng-click="shitailist.moveDetail(data.$id)">
          詳細
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-primary" ng-click="shitailist.approval(data.$id)" ng-show="shitailist.isApproval(data)">
          賛同する
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-primary" ng-click="shitailist.items.$remove(data)">
          削除
        </button>
      </td>
    </tr>
</table>
