<div>shitaidetail.html</div>

<form class="form-horizontal">

  <h1 class="text-center">あああ {{title}} <small>したい</small></h1>

  <div class="form-group">
    <label class="col-sm-2 control-label">だれが：</label>
    <div class="col-sm-10">
      {{shitaidetail.username}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">いつ：</label>
    <div class="col-sm-10">
      {{shitaidetail.time}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">どこで：</label>
    <div class="col-sm-10">
      {{shitaidetail.place}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">どんな感じで：</label>
    <div class="col-sm-10">
      <textarea id="comment" class="form-control">
        {{shitaidetail.comment}}
      </textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">だれと：</label>
    <div class="col-sm-10">
      <tr ng-repeat="data in hogehoge.items">
        <td>ふじつうたろう {{shitaidetail.member}}</td>
      </tr>
    </div>
  </div>
</form>
